.search {
    width: 7%;
    height: auto;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.cities_list {
    margin: 3em auto;
    width: 70%;
    display: flex;
}

.city {
    width: 31%;
    height: auto;
    padding: 2em;
    border-radius: 30px;
}

.city_picture {
    border-radius: 15px;
}

.city:hover {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.title {
    margin-top: 50px;
}

#name {
    font-size: 25px;
}

.joinbutton {
    margin: auto;
    width: 7em;
    height: 70px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
}

.joinbutton:hover {
    background-color: black;
    color: white;
}

#buttondiv {
    text-align: center;
}

.presentbutton {
    padding: 20px;
    height: 70px;
    font-size: 20px;
    background-color: white;

}

.presentbutton:hover {
    background-color: black;
    color: white;
    border-color: black;
    border: 10%;
}

#present {
    color: white;
}

.upcomingEvent {}