body {
    background: linear-gradient(to bottom, #012161, black);
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    padding-top: 6%;
    margin: 50px auto 0;
    max-width: 100%;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.title {
    margin: 10px;
}

.banner {
    background-color: rgb(24, 24, 24);
    color: white;
    height: 10%;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.banner .element {
    padding: 5%;
    color: white;
    text-decoration: none;
}

.rotate {
    transform: rotate(90deg);
    margin-bottom: 5em;
}