body {
    background: linear-gradient(to bottom, #012161, black);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    padding-top: 6%;
    margin: 50px auto 0;
    max-width: 100%;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.artist_search {
    width: 10rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 5rem;
}

img {
    max-width: 100%;
}

.title {
    margin: 10px;
}

.banner {
    background-color: rgb(24, 24, 24);
    color: white;
    height: 10%;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.banner .element {
    padding: 3% 5%;
    color: rgb(199, 197, 197);
    text-decoration: none;
}

.banner .element:hover {
    background-color: none;
    color: white;
    transition: background-color 1s, color 1s;
}

.rotate {
    transform: rotate(90deg);
    margin-bottom: 5em;
}