body {
    background: black;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#name {
    font: italic small-caps bold 16px/2 cursive;
    font-size: 25px;
}

.presentation {
    font: 1.2rem "Fira Sans", serif;
    font-size: 20px;
}

.black-banner {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.joinbutton {
    padding: 20px;
    height: 70px;
    font-size: 20px;
    background-color: red;
    size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.buttondiv {
    text-align: center;
}