.container {
    margin-left: 20%;
    margin-right: 63%;
    width: 10%;
    height: 10%;
    display: flex;
    margin-bottom: 3em;
}

.search {
    width: 8%;
    height: auto;
}

.who {
    margin: 10% 10% 1em;
}

#pp {
    border-radius: 90%;
}

.section {
    margin-right: 25%;
}

.poster {
    width: 15em;
    height: auto;
}

.poster:hover {
    color: green;
}

.social_network {
    width: 125px;
    height: auto;
    padding: 2em;
}