.account_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.account_field {
    width: 40%;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    justify-content: center;
    color: black;
    margin-bottom: 1.5rem;
}

.account_field:hover {
    background-color: grey;
    border: solid grey;
    color: black;
}

.account_field::placeholder {
    text-align: center;
}