.main {
    width: 75%;
}

.profile_picture_row {
    display: flex;
    margin-left: 30%;
}

.profile_picture {
    width: 8em;
    height: auto;
    border-radius: 50%;
    padding: 2em;
}

.search {
    width: 8%;
    height: auto;
}