.container {
    text-align: center;
    max-width: 60rem;
    display: flex;
    margin: auto;
}

.background {
    background: #14181c url(/images/renny.webp) 0 -1px repeat-x;
}

.search {
    width: 8%;
    height: auto;
}

#flexcontent {
    margin: 2rem;
}

.box2 {
    width: 20em;
    height: auto;
    margin: 3% auto 1em;
}

.social_network {
    width: 125px;
    height: auto;
    padding: 2em;
}

@media (min-width: 1024px) {
    #flexcontent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin: 2rem;
    }
}