.container {
    text-align: center;
    max-width: 60rem;
    display: flex;
    margin: auto;
}

#flexcontent {
    margin: 2rem;
}

.box2 {
    width: 20em;
    height: auto;
    margin: 2% auto 1em;
}

#instagram {
    width: 125px;
    height: 130px;
}

#spotify {
    width: 125px;
    height: 95px;
}

#youtube {
    width: 125px;
    height: 100px;
}

@media (min-width: 1024px) {
    #flexcontent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin: 2rem;
    }
}